VITE_SUPABASE_URL= https://lsagtsdukiufktqvzojn.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzYWd0c2R1a2l1Zmt0cXZ6b2puIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyMTY4ODgsImV4cCI6MjA3MTc5Mjg4OH0.gwC_s3CGvqgFOpJi_dF_4b1Yjy4sNBaz00LDSDLFVZw
